* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
.container {
  width: 59%;
  margin: 0 auto;
}
.cmn_text h2 {
  width: 852px;
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  margin: 0 auto;
  text-align: center;
}
.cmn_text p {
  width: 852px;
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  margin: 24px auto 48px;
  text-align: center;
}

/* =========== nav part start ============== */
nav > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 0 35px;
}
nav > .container button a {
  padding: 17px 24px;
}
nav > .container > .develpoer_name > a {
  font-size: 28px;
  font-weight: 800;
  color: rgb(13, 19, 33);
}
nav > .container > button > a {
  font-size: 20px;
  font-weight: 600;
  color: rgb(13, 19, 33);
}
nav > .container > button {
  border-radius: 8px;
  border: 1px solid rgb(13, 19, 33);
  background: #ffffff;
}
/* =========== nav part end ============== */

/* =========== banner part start ============== */
#banner {
  background-image: url(../assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 26px 0 44px;
}
#banner > .container {
  text-align: center;
}
#banner > .container > h1 {
  margin: 32px auto 24px;
  width: 998px;
  font-size: 48px;
  font-weight: 800;
  color: rgb(13, 19, 33);
}
#banner > .container > p {
  margin: 0 auto 32px;
  width: 852px;
  font-weight: 400;
  font-size: 16px;
  color: rgb(13, 19, 33);
}
#banner > .container > a {
  padding: 21px 24px;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
/* =========== banner part end ============== */

/* =========== development part start ============== */
#development {
  padding: 74px 0 88px;
}
#development > .container {
  padding: 80px 97px;
  background: rgba(13, 19, 33, 0.02);
  border-radius: 16px;
}
#development > .container > h2 {
  font-size: 32px;
  font-weight: 800;
  color: rgb(13, 19, 33);
  text-align: center;
}
#development > .container > p {
  font-size: 16px;
  font-weight: 400;
  color: rgb(13, 19, 33);
  margin: 24px 0 48px;
  text-align: center;
}
#development > .container .parrent_insparation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#development > .container .parrent_insparation > .text > h3 {
  width: 390px;
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
}
#development > .container .parrent_insparation > .text > p {
  width: 468px;
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  margin: 16px 0 32px;
}
#development > .container .parrent_insparation > .text > a {
  padding: 12px 20px;
  border: 1px solid rgb(13, 19, 33);
  color: rgb(13, 19, 33);
  opacity: 0.7;
}
/* =========== development part end ============== */

/* =========== inspiration part start ============== */
#inspiration {
  padding-bottom: 149px;
}

#inspiration > .container > .video {
  padding: 32px;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
}
#inspiration > .container > .video > iframe {
  border-radius: 16px;
  width: 100%;
  height: 550px;
}
/* =========== inspiration part end ============== */
/* =========== target part start ============== */
#target .target_parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#target .target_parent > .target_goal {
  width: 364px;
  padding: 40px;
}
#target .target_parent > .target_goal > h3 {
  margin: 24px 0 8px;
  color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
}
#target .target_parent > .target_goal > p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 24px;
}
#target .target_parent > .target_goal > a {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-line: underline;
}
#target .target_parent > .html {
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
}
#target .target_parent > .css {
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
}
#target .target_parent > .js {
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
}
/* =========== target part end ============== */

/* =========== support part start ============== */
#support {
  padding: 41px 0 79px;
}
#support > .container {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(../assets/handshake.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 64px 48px;
  border-radius: 16px;
  height: 314px;
  text-align: center;
}
#support > .container h3 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 700;
}
#support > .container p {
  width: 606px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  margin: 16px auto 24px;
}
#support > .container form {
  display: flex;
  align-items: center;
  justify-content: center;
}
#support > .container form input[type="text"] {
  padding: 19px 20px;
  width: 548px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  background: rgb(255, 255, 255);
  border: none;
  outline: none;
}
#support > .container form input[type="text"]::placeholder {
  color: rgba(13, 19, 33, 0.4);
  font-size: 16px;
  font-weight: 400;
}
#support > .container form button{
  padding:17px 20px;
  color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 600;
border-radius: 8px;
background: rgb(255, 255, 255);
border:none;
outline: none;
margin-left: 16px;
}
#support > .container form button:hover{
  cursor: pointer;
}
/* =========== support part end ============== */
/* =========== nav part start ============== */
/* =========== nav part end ============== */
